/* Фон на всю ширину */
.wrapper {
  width: 100%;
  background: var(--bg-dark);
  color: white;
}

/* Контент */
.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0px;

  display: flex;
  flex-direction: column;
}

/* Заголовок */
.title {
  font-size: 64px;
  font-weight: 800;
  color: var(--white);
  margin-bottom: 64px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 56px;
  align-items: stretch; /* ВАЖНО */
}

.side {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

/* Главная карточка */
.mainCard {
  background: var(--white);
  border-radius: 28px;
  padding: 32px 32px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
}

/* Подзаголовок */
.subtitle {
  font-size: 32px;
  color: var(--primary);
  margin-bottom: 32px;
}

/* Список */
.list {
  font-size: 22px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: 32px;
  padding-left: 20px;
}

/* Примечание */
.note {
  font-size: 16px;
  color: var(--text-muted);
}

/* Малые карточки */
.smallCard {
  background: var(--white);
  border-radius: 22px;
  padding: 32px;
  font-size: 18px;
  line-height: 1.6;
  display: flex;
  color: var(--text-main);
  align-items: center;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .side {
    grid-template-rows: auto;
  }

  .section {
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 20px 40px 40px;
    row-gap: 48px;
  }
}

@media (max-width: 640px) {
  .section {
    padding: 48px 20px;
    font-size: calc(1em - 4px);
  }

  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .mainCard {
    padding: 28px;
    font-size: 16px;
  }

  .smallCard {
    padding: 24px;
    font-size: 16px;
  }

  .side {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}